

 body{
  width: 100%;
  height: auto;
  animation: pulse 5s infinite;
}


@keyframes pulse {
  0% {
    background-color: orangered;
  }
  100% {
    background-color: #FF7A00;
  }
}

body{
  background-color: #FF7A00;

} 

html,
body {
  height: 100%;
}

.stripes-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index:-1;
}

.stripe {
  position: absolute;
  width: 180%;
  height: 9%;
  animation-name: stripe-animation;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1;
}

.stripe:nth-child(1) {
  top: 0;
  animation-delay: 0s;
background-color: #FDB777;
}

.stripe:nth-child(2) {
  top: 10%;
  animation-delay: 0.1s;
    background-color: #FDA766;
}

.stripe:nth-child(3) {
  top: 20%;
  animation-delay: 0.2s;
  background-color: #FD9346;
}

.stripe:nth-child(4) {
  top: 30%;
  animation-delay: 0.3s;
  background-color: #FD7F2C;
}

.stripe:nth-child(5) {
  top: 40%;
  animation-delay: 0.4s;
  background-color: #FF6200;
}

.stripe:nth-child(6) {
  top: 50%;
  animation-delay: 0.5s;
  background-color:#FDB777;
}

.stripe:nth-child(7) {
  top: 60%;
  animation-delay: 0.6s;
background-color: #FDA766;
}

.stripe:nth-child(8) {
  top: 70%;
  animation-delay: 0.7s;
    background-color: #FD9346;
}

.stripe:nth-child(9) {
  top: 80%;
  animation-delay: 0.8s;
    background-color: #FD7F2C;
}

.stripe:nth-child(10) {
  top: 90%;
  animation-delay: 0.9s;
    background-color: #FF6200;
}



@keyframes stripe-animation {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
      animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}


.text1{
 
 font-family: "Harmond";
 src: url(Harmond-SemiBoldCondensed.otf);
 font-size: 100px;
  position: fixed;
  top: 100px;
  left: 250px;
  color: white;
  
}

.text2{
 
font-family: "degular", sans-serif;
font-weight: 400;
font-style: normal;
 font-size: 40px;
  position: absolute;
  top: 400px;
  left: 1030px;
  color: white;
  
}


.text3{
 
font-family: "degular", sans-serif;
font-weight: 400;
font-style: normal;
font-size: 30px;
position: absolute;
left:1020px;
top: 4000px;
color: white;
  
}


.romance{
  font-family: "degular", sans-serif;
font-weight: 400;
font-style: normal;
 font-size: 50px;
  position: absolute;
  top: 470px;
  left: 550px;
  color: white;
  z-index: 2;
}

.emoji{
  position: fixed;
  left: 50px;
  top: 90px;
  font-size: 7em;
  animation-duration: 5s;
  animation-name: emoji;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;

}

a:link {
  text-decoration: none;
}

@keyframes emoji{
  0% {
    top: 9%;
    left: 7%;
    transform: rotate(0deg);
  }s
  50% {
    top: 9%;
    left: 7%;
    transform: rotate(360deg);
  }
  100% {
    top: 9%;
    left:7%;
    transform: rotate(720deg);
  }
}


.emoji:hover{

transform: rotate(0deg);
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  padding-top: 130px;
  padding-left: 990px;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 text-align: left;
  padding: 14px 26px;

  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
color: black;
}



.image1{
 
  position: absolute;
  left:1020px;
  top: 490px;
  padding-right:10px;

}

.ram{

  position: absolute;
  left: 80px;
  top: 50px;
  width: 20px;
  visibility: hidden;
  opacity: 0;


  transition: opacity .2s, visibility .2s;

}


.text{
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 visibility: hidden;
opacity: 0;

transition: opacity .2s, visibility .2s;
}

.image1:hover .text {
  visibility: visible;
  opacity: 1;
}

.image1:hover .ram {
  visibility: visible;
  opacity: 1;
}




.image2{
 
  position: absolute;
  left: 1020px;
  top: 1050px;
  padding-right:10px;

}


.oj{
 
  position: absolute;
  left: 90px;
  top: 50px;
  width: 10px;
  visibility: hidden;
opacity: 0;


  transition: opacity .2s, visibility .2s;

}



.text{
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 visibility: hidden;
opacity: 0;

transition: opacity .2s, visibility .2s;
}

.image2:hover .text {
  visibility: visible;
  opacity: 1;
}

.image2:hover .oj{
 
 visibility: visible;
  opacity: 1;

}



.image3{
 
  position: absolute;
  left: 1020px;
  top: 1700px;
  padding-right:10px;

}


.text{
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 visibility: hidden;
opacity: 0;

transition: opacity .2s, visibility .2s;
}

.image3:hover .text {
  visibility: visible;
  opacity: 1;
}


.image4{
 
  position: absolute;
  left: 650px;
  top: 1700px;
  padding-right:10px;

}

.image5{
 
  position: absolute;
  left: 450px;
  top: 1700px;
  padding-right:10px;

}



.image6{
 
  position: absolute;
  left: 250px;
  top: 1700px;
  padding-right:10px;

}

.orange{
 
  position: absolute;
  left: 850px;
  top: 1700px;
  padding-right:10px;
  opacity: 0;


}

.text{
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 visibility: hidden;
opacity: 0;

transition: opacity .2s, visibility .2s;
}

.image6:hover {
 
  visibility: visible;
  opacity: 1;
  transform: scale(1.2);

}

.image6:hover .text {
  visibility: visible;
  opacity: 1;
}




.image7{
 
  position: absolute;
  left: 1020px;
  top: 2300px;
  padding-right:10px;

}


.oj{
 
  position: absolute;
  left: 90px;
  top: 50px;
  width: 10px;
  visibility: hidden;
opacity: 0;


  transition: opacity .2s, visibility .2s;

}



.text{
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 visibility: hidden;
opacity: 0;

transition: opacity .2s, visibility .2s;
}

.image7:hover .text {
  visibility: visible;
  opacity: 1;
}

.image7:hover .oj{
 
 visibility: visible;
  opacity: 1;

}

.image8{
 
  position: absolute;
  left: 370px;
  top: 2990px;
  padding-right:10px;

}



.oran{
 
  position: absolute;
  left: 90px;
  top: 50px;
  width: 10px;
  visibility: hidden;
  opacity: 0;


  transition: opacity .2s, visibility .2s;

}


.orn{
 
  position: absolute;
  left: 90px;
  top: 50px;
  width: 10px;
  visibility: hidden;
  opacity: 0;


  transition: opacity .2s, visibility .2s;

}



.text{
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 visibility: hidden;
opacity: 0;

transition: opacity .2s, visibility .2s;
}

.image8:hover .text {
  visibility: visible;
  opacity: 1;
}

.image8:hover .oran{
 position: absolute;
  left: 390px;
  top: 50px;
 visibility: visible;
  opacity: 1;

}

.image8:hover .orn{
 
 visibility: visible;
  opacity: 1;

}

.image9{
 
  position: absolute;
  left: 1020px;
  top: 3000px;
  padding-right:10px;

}

.text{
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
 visibility: hidden;
opacity: 0;

transition: opacity .2s, visibility .2s;
}

.image9:hover .text {
  visibility: visible;
  opacity: 1;
}

.video{

  position: absolute;
  left: 70px;
  top: 3900px;
  z-index: -1;

}


.image10{
 
  position: absolute;
  left: 250px;
  top: 1050px;
  padding-right:10px;
  z-index: -2;

}


