body{
  background-color: #FF7A00;

  width: 100vw;
  height: 100vh;
  cursor: none !important;

}


html,
body {
  height: 100%;
}

#green-cursor{
  width: 110px;
  height: 110px;
  rotate: -30deg;
  background-image: url(cursor.png);
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: -1;
}



.emoji{

  position: fixed;
  left: 50px;
  top: 90px;
  transition: all 3s;
  transition-timing: ease-in-out;

}


.emoji:hover{

transform: rotate(1080deg);
}


p{

  font-family: "degular", sans-serif;
font-weight: 400;
font-style: light;
  font-size: 100pt;
  color: black;
  position: absolute;
  top: 270px;
  z-index: ;

}

h1{
 
 font-family: "Harmond";
 src: url(Harmond-SemiBoldCondensed.otf);
 font-size: 100px;
  position: fixed;
  top: 40px;
  left: 350px;
  color: white;

  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 30px;
  padding-top: 290px;
  padding-left: 500px;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: "degular-text", sans-serif;
 font-weight: 200;
 font-style: normal;
 font-size: 20px;
text-align: left;
  padding: 14px 26px;

  
}

/* Change the link color to #111 (black) on hover */
li a:hover {
color: black;
}

.image1{
  
  position: absolute;
  top: 800px;
  left: 1300px;

}

.image2{
  
  position: absolute;
  top: 900px;
  left: 1000px;

}




